db.hostname={{ db_host }}
db.port={{ db_port }}
db.servicename=ORCLPDB1
error.keepErrorMessages=true
error.maxEntries=50
jdbc.DriverType=thin
jdbc.InactivityTimeout=1800
jdbc.InitialLimit=3
jdbc.MaxConnectionReuseCount=1000
jdbc.MaxLimit=10
jdbc.MaxStatementsLimit=10
jdbc.MinLimit=1
jdbc.statementTimeout=900
db.password={{ prometheus_pw }}
db.username={{ prometheus_schema }}
resource.templates.enabled=true
rest.services.ords.add=true
user.public.password=prometheus
plsql.gateway.add=true
sys.user=sys
sys.password={{ db_sys_pw }}