db.hostname={{ db_host }}
db.port={{ db_port }}
db.servicename=ORCLPDB1
db.password={{ prometheus_pw }}
db.username={{ prometheus_schema }}
sys.user=sys
sys.password={{ db_sys_pw }}
plsql.gateway.add=true
rest.services.ords.add=true
schema.tablespace.default=USERS
schema.tablespace.temp=TEMP
standalone.http.port=8080
standalone.mode=false
standalone.static.images=/path/to/images
standalone.use.https=false
user.apex.listener.password=password
user.apex.restpublic.password=password
user.public.password=prometheus
user.tablespace.default=USERS
user.tablespace.temp=TEMP
standalone.use.https=false
standalone.http.port=8080
